###                     **Named Entity Recognition (NER): Exercises**

In [5]:
#importing necessary libraries 
import spacy

nlp = spacy.load("en_core_web_sm")  #creating an object and loading the pre-trained model for "English"
nlp.pipe_labels["ner"]

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

#### **Excersie: 1**

- Extract all the Geographical (cities, Countries, states) names from a given text

In [2]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

nlp.pipe_labels["ner"]

# tokens = [token.text for token in doc]
# print(tokens)

for ent in doc.ents:
    if ent.label_ in ["GPE", "LOC"]:
        print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

India  |  GPE  |  Countries, cities, states
Delhi  |  GPE  |  Countries, cities, states
Gujarat  |  GPE  |  Countries, cities, states
Tamilnadu  |  GPE  |  Countries, cities, states
Pongal  |  GPE  |  Countries, cities, states
Andhrapradesh  |  GPE  |  Countries, cities, states
Assam  |  GPE  |  Countries, cities, states
Bihar  |  GPE  |  Countries, cities, states

**Expected Output:**

Geographical location Names:  [India, Delhi, Gujarat, Tamilnadu, Andhrapradesh, Assam, Bihar]

Count:  7

#### **Excersie: 2**

- Extract all the birth dates of cricketers in the given Text

In [11]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

dates = [ent for ent in doc.ents if ent.label_ in ["DATE"]]
print(f"All Birth Dates: {dates}")

All Birth Dates: [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]

**Expected Output:**

All Birth Dates:  [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]

Count:  4

## [Solution](./named_entity_recognition_solutions.ipynb)